@charset "utf-8";
* {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


/*footer*/

footer {
    width: 100%;
    height: 45px;
    padding-bottom: 0%;
    text-align: center;
    /* border-top: solid;
    border-color: #930;   
    border: solid;     
     background-color: black;*/
}


/*ocultar barra scroll*/

 ::-webkit-scrollbar {
    display: none;
}


/*botones y campos*/

input[type=password]:focus,
[type=text]:focus,
[type=submit],
[type=button] {
    padding: 5px 15px;
    background: #ccc;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #930;
    border-color: #930;
}


/*Barra de menu*/

.barra {
    width: 100%;
    height: 40px;
    margin: auto;
    border-bottom: solid;
    color: #930;
    /*  border: solid;*/
    left: 0;
}

#menu {
    padding: 0;
}

#menu li {
    display: inline;
}

#menu li a {
    margin-left: 15px;
    font-family: Comic Sans MS;
    font-size: 15px;
    text-decoration: none;
    float: left;
    padding: 9px;
    background-color: black;
    color: #fff;
}

#menu li a:hover {
    background-color: #930;
    margin-top: -2px;
    padding-bottom: 12px;
}

.logo {
    width: 40px;
    height: 40px;
    float: left;
    /* border: solid;*/
}

.logo img {
    width: 40px;
    height: 40px;
}


/* pagina login/registro*/

.logreg {
    padding: 8%;
}

.login {
    position: center;
    width: 300px;
    height: 300px;
    margin-bottom: 0%;
    padding: 0%;
    /* border-left: solid;
    border-right: solid;
    border-top: solid;
    border: solid;*/
}

.registro {
    position: center;
    width: 300px;
    height: 300px;
    margin-bottom: 0%;
    /* border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border: solid;*/
}


/*Página equipo*/

.fotos {
    padding-top: 7%;
    padding-bottom: 10%;
    margin: auto;
    color: aliceblue;
    width: 800px;
    height: 200px;
}

.fotos article {
    float: left;
    margin: auto;
    padding-left: 50px;
}

.subtitulo {
    font-size: 4;
    font-family: Comic Sans MS;
    color: #ffffff;
}

.labelc {
    font-size: 2;
    font-family: Comic Sans MS;
    color: #ffffff;
}

.bodyinicio {
    background: url("../img/fondo6.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.barralateral {
    align: "right";
    color: aliceblue;
    float: right;
}


/* '<h2 align="center">'+'<font face="Comic Sans MS" color="#ffffff" size="4">Inicia sesión</font>'+'</h2>'+ */


/*mensajes en el login registro*/

.mensajes {
    font-family: Comic Sans MS;
    color: red;
}

table {
    font-family: Comic Sans MS;
    color: aliceblue;
    /* border: solid; */
}

.Personajes td:hover {
    background: rgba(165, 42, 42, 0.11);
}


/*eleccion de personajes*/

.Personajes {
    position: relative;
}

.Personajes input {
    -webkit-appearance: none;
    -moz-appearance: window;
    -ms-appearance: window;
    appearance: window;
    position: absolute;
    width: 200px;
    height: 200px;
}

.Paladin+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Paladin.png') no-repeat 0 0;
    display: block;
    width: 200px;
    height: 200px;
    content: '';
    vertical-align: middle;
}

.Paladin:checked+label::before {
    background: transparent url('../img/Paladin2.png') no-repeat 0 0;
}

.Guerrero+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Guerrero.png') no-repeat 0 0;
    display: block;
    width: 200px;
    height: 200px;
    content: '';
    vertical-align: middle;
}

.Guerrero:checked+label::before {
    background: transparent url('../img/Guerrero2.png') no-repeat 0 0;
}

.Mago+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Mago.png') no-repeat 0 0;
    display: block;
    width: 200px;
    height: 200px;
    content: '';
    vertical-align: middle;
}

.Mago:checked+label::before {
    background: transparent url('../img/Mago2.png') no-repeat 0 0;
}

.Arquero+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Arquero.png') no-repeat 0 0;
    display: block;
    width: 200px;
    height: 200px;
    content: '';
    vertical-align: middle;
}

.Arquero:checked+label::before {
    background: transparent url('../img/Arquero2.png') no-repeat 0 0;
}

.Amazona+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Amazona.png') no-repeat 0 0;
    display: block;
    width: 200px;
    height: 200px;
    content: '';
    vertical-align: middle;
}

.Amazona:checked+label::before {
    background: transparent url('../img/Amazona2.png') no-repeat 0 0;
}

.Asesino+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Asesino.png') no-repeat 0 0;
    display: block;
    width: 200px;
    height: 200px;
    content: '';
    vertical-align: middle;
}

.Asesino:checked+label::before {
    background: transparent url('../img/Asesino2.png') no-repeat 0 0;
}

.Habilidades img {
    display: inline;
    float: left;
    /*  border: solid aliceblue;
     */
    padding-left: 8px;
}


/*pagina de juego*/

.Juego {
    background: url("../img/batalla3.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-size: 1024px 500px;
    width: 1024px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    border: solid aliceblue;
}

.pjPartida {
    margin: auto;
    margin-top: 200px;
    position: relative;
    /*  border: solid aliceblue;
     */
}

.pjPartida td {
    padding: 0%;
    margin: 0%;
    /*  border: solid aliceblue;
     */
}

#TurnoPJ1,
#TurnoPJ2,
#TurnoPJ3 {
    border-radius: 10px 7px 8px 2px;
}

.fondoVida {
    border-radius: 10px 7px 8px 2px;
    background-color: rgba(255, 255, 255, 0.527);
    width: 100%;
    height: 10px;
}

#VidaPJ1 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaPJ2 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaPJ3 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaEnemigoPJ1 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaEnemigoPJ2 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaEnemigoPJ3 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}


/* tabla de habilidades en pagina juego */

.THabilidad {
    position: relative;
    width: 1024px;
    margin: auto;
    margin-top: 50px;
    border: solid;
    color: aliceblue;
}

.THabilidad td {
    border: solid;
    color: aliceblue;
}

#atributosAliado {
    width: 350px;
    height: 100px;
}

#atributosEnemigo {
    width: 350px;
    height: 100px;
}


/* barra de habilidades */

.pjHabilidades {
    width: 200px;
    height: 40px;
    margin: auto;
    align: center;
}

.desc {
    width: 200px;
    height: 100px;
}


/* #descHabilidad {
    width: 200px;
    height: 100px;
} */