@charset "utf-8";
* {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

body {
    width: 100%;
    height: auto;
}

#cuerpoIndex,
#cuerpoPJ,
#cuerpoEquipo,
#cuerpoJuego {
    width: 100%;
    height: auto;
    position: relative;
}

.bodyResto {
    background: url("../img/fondete2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.bodyinicio {
    background: url("../img/fondo7.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

html {
    width: 100%;
    height: 100%;
}


/*footer*/

footer {
    width: 100%;
    height: 45px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 15px;
    border-top: #930 solid;
    position: relative;
}

.foote {
    margin-top: 30px;
}


/*ocultar barra scroll*/

 ::-webkit-scrollbar {
    display: none;
}


/*botones y campos*/

input
/* [type=password]:focus, */

[type=text]:focus,
[type=text],
[type=password],
[type=submit],
[type=button] {
    /* cursor: pointer; */
    font-family: Comic Sans MS;
    font-size: 15px;
    border-radius: 0px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.356);
    border-color: brown;
    color: aliceblue;
    text-align: center;
}

input:focus {
    outline: none;
}


/*Barra de menu*/

.barra {
    width: 100%;
    height: 40px;
    margin: auto;
    border-bottom: solid;
    color: #930;
    left: 0;
}

.menu {
    padding: 0;
}

.menu li {
    display: inline;
}

.menu li a {
    float: left;
}

.menu li a,
.close,
.closeB {
    margin-left: 15px;
    font-family: Comic Sans MS;
    font-size: 15px;
    text-decoration: none;
    padding: 9px;
    color: #fff;
}

.menu>li>ul {
    display: none;
}

.close,
.closeB {
    float: right;
}

.closeB {
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 9px;
    margin-top: 0%;
    border-top: 0px;
    border-bottom: 0;
}

#closeB {
    display: none;
}

.opPj {
    display: none;
}

.menu>li:hover>ul {
    display: block;
}

.menu li a:hover {
    background-color: #930;
    margin-top: -2px;
    padding-bottom: 12px;
}

.logo {
    width: 40px;
    height: 40px;
    float: left;
}

.logo img {
    width: 40px;
    height: 40px;
}


/* pagina login/registro*/

.login {
    padding-top: 40px;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 480px;
    margin-bottom: 0%;
}

.registro {
    padding-top: 40px;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 480px;
    margin-bottom: 0%;
}


/*Página equipo*/

.fotos {
    padding-top: 7%;
    padding-bottom: 10%;
    margin: auto;
    color: aliceblue;
    width: 800px;
    height: 200px;
}

.fotos article {
    float: left;
    margin: auto;
    padding-left: 50px;
}

.subtitulo {
    font-size: 4;
    font-family: Comic Sans MS;
    color: #ffffff;
}

.labelc {
    font-size: 2;
    font-family: Comic Sans MS;
    color: #ffffff;
}

.barralateral {
    align: "right";
    color: aliceblue;
    float: right;
}


/*mensajes en el login registro*/

.mensajes,
.msj {
    font-family: Comic Sans MS;
    color: rgb(255, 0, 0);
    width: 100%;
    text-align: center;
}

.msj {
    margin-top: 15px;
}

table {
    font-family: Comic Sans MS;
    color: aliceblue;
    position: relative;
}

.clases:hover {
    background: rgba(165, 42, 42, 0.11);
}

.agregarClase:hover {
    background: rgba(165, 42, 42, 0.11);
}

.agregarClase {
    border-radius: 20%;
}


/*eleccion de personajes*/

.Eleccion {
    width: 1235px;
    height: 610px;
    position: relative;
    margin: auto;
}

.Eleccion h1 {
    color: aliceblue;
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 30;
    position: relative;
}

.Personajes {
    text-align: center;
    font-family: Comic Sans MS;
    width: 1235;
    height: 600px;
    margin-top: 50px;
    color: aliceblue;
    margin: auto;
    justify-content: center;
}

.Eclass {
    margin: auto;
}

.Personajes input {
    -webkit-appearance: none;
    -moz-appearance: window;
    -ms-appearance: window;
    appearance: window;
    position: absolute;
    width: 150px;
    height: 150px;
}

.agregarClase input {
    -webkit-appearance: none;
    -moz-appearance: window;
    -ms-appearance: window;
    appearance: window;
    position: relative;
    width: 150px;
    height: 150px;
}

.clases {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 20%;
}

.clases input {
    position: relative;
}


/* .PosicionPJ3+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Agregar3.png') no-repeat 0 0;
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    content: '';
    vertical-align: middle;
} */


/* .PosicionPJ3:checked+label::before {
    background: transparent url('../img/.png') no-repeat 0 0;
    background-size: 150px 150px;
} */


/* .PosicionPJ2+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Agregar2.png') no-repeat 0 0;
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    content: '';
    vertical-align: middle;
} */


/* .PosicionPJ2:checked+label::before {
    background: transparent url('../img/.png') no-repeat 0 0;
    background-size: 150px 150px;
} */


/* .PosicionPJ1+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/Agregar1.png') no-repeat 0 0;
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    content: '';
    vertical-align: middle;
} */


/* .PosicionPJ1:checked+label::before {
    background: transparent url('../img/.png') no-repeat 0 0;
    background-size: 150px 150px;
} */

.Habilidades {
    width: 100%;
    height: 50px;
    display: block;
}

.Habilidades img {
    float: left;
    display: inline;
    padding-left: 8px;
}

.Habilidades div {
    width: 192px;
    height: 40px;
    margin: auto;
}

.descHabilidad {
    margin-top: 10px;
    color: aliceblue;
    height: 150px;
    display: block;
}


/*pagina de juego*/

.Juego {
    background: url("../img/batalla3.jpg");
    background-repeat: no-repeat;
    background-size: 1024px 500px;
    background-position-x: 90px;
    background-position-y: 10px;
    width: 1200px;
    height: auto;
    margin: auto;
    border: solid rgba(255, 255, 255, 0);
}

.pjPartida {
    width: 100px;
    height: 250px;
    margin: auto;
    margin-top: 170px;
}

.pjPartida td {
    padding: 0%;
    margin: 0%;
}

.fondoVida {
    border-radius: 10px 7px 8px 2px;
    background-color: rgba(255, 255, 255, 0.527);
    width: 100%;
    height: 10px;
}

#VidaPJ1 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaPJ2 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaPJ3 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaEnemigoPJ1 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaEnemigoPJ2 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}

#VidaEnemigoPJ3 {
    width: 100%;
    height: 10px;
    border-radius: 10px 7px 8px 2px;
}


/* tabla de habilidades en pagina juego */

.THabilidad {
    position: relative;
    width: 900px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.THabilidad td {
    width: 300;
    height: auto;
}

.DHabilidad {
    margin: auto;
    width: 100%;
    height: 380px;
}

.NomHabilidad {
    text-align: center;
}

#atributosAliado {
    width: 350px;
    height: auto;
}

#atributosEnemigo {
    width: 350px;
    height: auto;
}


/* barra de habilidades */

.pjHabilidades {
    width: 200px;
    height: 40px;
    margin: auto;
    align: center;
}

.desc {
    width: 200px;
    height: 100px;
    text-align: center;
}

#Asignar {
    margin-top: 30px;
    margin-left: 47.5%;
    margin: auto;
    display: block;
}

.BContinuar {
    margin-top: 30px;
}


/* tabla statsobjeto pagina personajes */

.statsObjeto {
    width: 900px;
    height: auto;
    margin-top: 50px;
    margin: auto;
}

.statsObjeto td {
    width: 300;
    height: auto;
}

.statsHabilidad {
    width: 300;
    height: auto;
}

.statsHabilidad {
    width: 700px;
    height: auto;
    margin-top: 50px;
    margin-left: 90px;
}

.statsHabilidad td {
    width: 300;
    height: auto;
}

.statsHabilidad .stats {
    width: 400px;
}

.statsHabilidad .habilidades {
    width: auto;
}

.detalles input {
    -webkit-appearance: none;
    /* -moz-appearance: window;
    -ms-appearance: window;
    appearance: window; */
    position: absolute;
    width: 40px;
    height: 30px;
}

.detalles div {
    width: 40;
    height: 30;
    margin: auto;
}

.detalles div img {
    margin: auto;
}

.stats div {
    width: 400px;
    height: auto;
    margin: auto;
}

.stats div table {
    width: 100%;
    height: auto;
}

.valAttrib {
    text-align: right;
}

#ver1,
#ver2,
#ver3 {
    display: none;
}

.ver+label::before {
    top: 0;
    display: inline-block;
    background: url('../img/detalles2.png') no-repeat 0 0;
    background-size: 40px 30px;
    display: block;
    width: 40px;
    height: 30px;
    content: '';
    vertical-align: middle;
}

.ver:checked+label::before {
    background: transparent url('../img/detalles.png') no-repeat 0 0;
    background-size: 40px 30px;
}

.versus {
    text-align: center;
    margin: auto;
    color: aliceblue;
    position: absolute;
    width: 100%;
    margin-top: 30px;
}


/* table {
    border: solid rgb(92, 170, 238);
}

table td {
    border: solid aliceblue;
}

div {
    border: solid rgb(6, 139, 255);
} */